<div id="footer">

  <p id="utc-time"></p>

  <script>
  (function() {
    'use strict';
    function updateUTCTime() {
      document.getElementById("utc-time").innerHTML = 'UTC Time Now: ' + (new Date()).toUTCString();
    }
    window.setInterval(updateUTCTime, 1000);
    updateUTCTime();
  })();
  </script>

  <p>Copyright © <%= Time.now.year %> The Secret Chronicles Team</p>
  <p id="sponsor">Hosting thanks to our collegues from <a href="https://wekan.github.io/"><img src="/assets/wekan-logo.svg" alt="Wekan" style="height: 24px"/></a></p>
  </p>
</div>
