<div id="footer">

  <p id="utc-time"></p>

  <script>
  (function() {
    'use strict';
    function updateUTCTime() {
      document.getElementById("utc-time").innerHTML = 'UTC Time Now: ' + (new Date()).toUTCString();
    }
    window.setInterval(updateUTCTime, 1000);
    updateUTCTime();
  })();
  </script>

  <p>Copyright © <%= Time.now.year %> The Secret Chronicles Team</p>
  <p id="sponsor">Hosting thanks to <a href="https://www.first-root.com"><img src="/assets/first-root.png" alt="First Root" /></a></p>
  </p>
</div>

