<div id="footer">
  <p>Copyright © <%= Time.now.year %> The Secret Chronicles Team<br>
	Hosting thanks to <a href="http://www.first-root.com"><img src="/assets/first-root.png" alt="First Root"/></a>
  </p>
</div>
