<div id="footer">
  <p id="copyright">
	Copyright © <%= Time.now.year %> Secretchronicles Team
  </p>
  <p id="sponsor">
	Hosting sponsored by:<br/>
	<a href="http://www.first-root.com"><img src="/assets/first-root.png" alt="First Root"/></a>
  </p>
</div>
