<div id="header">
  Secretchronicles
</div>
<div id="navi">
  <ul id="language-selector">
    <li><a href="/en"><img src="/assets/flags/en.png" alt="en"/></a></li>
    <li><a href="/de"><img src="/assets/flags/de.png" alt="de"/></a></li>
    <li><a href="/fi"><img src="/assets/flags/fi.png" alt="fi"/></a></li>
  </ul>
  <ul id="links">
    <li><a href="/de">Startseite</a></li>
    <li><a href="/de/news">Neuigkeiten</a></li>
    <li><a href="/de/download">Herunterladen</a></li>
    <li><a href="http://docs.secretchronicles.de">Dokumentation</a></li>
    <li><a href="http://forum.secretchronicles.de">Forum</a></li>
    <li><a href="http://wiki.secretchronicles.de">Wiki</a></li>
    <li><a href="https://github.com/Secretchronicles/SMC/issues">Bugtracker</a></li>
  </ul>
</div>
