<div id="header">
  The Secret Chronicles of Dr. M.
</div>
<div id="navi">
  <ul id="language-selector">
<!--
    <li><a href="/en"><img src="/assets/flags/en.png" alt="en"/></a></li>
    <li><a href="/fi"><img src="/assets/flags/fi.png" alt="fi"/></a></li>
-->
    <li><a href="/en">In English</a></li>
    <li><a href="/fi">Suomeksi</a></li>    
  </ul>
  <ul id="links">
    <li><a href="/en">Home</a></li>
    <li><a href="/en/news">News</a></li>
    <li><a href="/en/download">Download</a></li>
    <li><a href="http://docs.secretchronicles.de">Documentation</a></li>
    <li><a href="http://forum.secretchronicles.de">Forum</a></li>
    <li><a href="http://wiki.secretchronicles.de">Wiki</a></li>
    <li><a href="https://github.com/Secretchronicles/TSC/issues">Bugtracker</a></li>
  </ul>
</div>
