<div id="header">
  <a href="/en"><img class="logo" src="/assets/logo.png" alt="The Secret Chronicles of Dr.M." /></a>
</div>
<ul id="navbar">
  <a href="/en"><li>Home</li></a>
  <a href="/en/screenshots"><li>Screenshots</li></a>
  <a href="/en/news"><li>News</li></a>
  <a href="/en/download"><li>Download</li></a>
  <a href="https://github.com/Secretchronicles/TSC"><li>Github</li></a>
  <a href="https://github.com/Secretchronicles/TSC/issues/"><li>Bugs</li></a>
  <a href="http://forum.secretchronicles.de/forums"><li>Forum</li></a>
  <a href="http://lists.secretchronicles.de/"><li>Mailinglist</li></a>
  <a href="http://wiki.secretchronicles.de/"><li>Wiki</li></a>
  <a href="/en/documentation"><li>Docs</li></a>
  <a href="http://chatlogs.secretchronicles.de/"><li>IRC Logs</li></a>
  <li class="navright">Language
    <ul>
      <a href="/fi"><li><img class="language" alt="Finnish" src="/assets/flags/fi.png"/> Finnish</li></a>
      <a href="/en"><li><img class="language" alt="English" src="/assets/flags/en.png"/> English</li></a>
    </ul>
  </li>
</ul>
