<div id="header">
  <a href="/fi"><img class="logo" src="/assets/logo.png" alt="The Secret Chronicles of Dr.M." /></a>
</div>
<ul id="navbar">
  <li><a href="/fi">Etusivu</a></li>
  <li><a href="/fi/screenshots">Kuvat</a></li>
  <li><a href="/fi/news">Uutiset</a></li>
  <li><a href="/fi/download">Lataa</a></li>
  <li><a href="https://github.com/Secretchronicles/TSC">GitHub</a></li>
  <li><a href="https://github.com/Secretchronicles/TSC/issues/">Bugit</a></li>
  <li><a href="http://forum.secretchronicles.de/forums">Foorumi</a></li>
  <li><a href="http://lists.secretchronicles.de/">Postituslista</a></li>
  <li><a href="http://wiki.secretchronicles.de/">Wiki</a></li>
  <li><a href="/fi/documentation">Dokumentaatio</a></li>
  <li><a href="http://chatlogs.secretchronicles.de/">IRC Logit</a></li>
  <li><a>Language</a>
    <ul>
      <li><a href="/fi"><img class="flag" alt="Finnish" src="/assets/flags/fi.png"/><br />Finnish</a></li>
      <li><a href="/en"><img class="flag" alt="English" src="/assets/flags/en.png"/><br />English</a></li>
    </ul>
  </li>
</ul>
