<div>
  <aside class="screenshots">
    <h3>Kuvat</h3>
    <a href="/assets/screenshots/6.png"><img class="screenshot" alt="Screenshot 1" src="/assets/screenshots/small/6.png" width="250" height="141"></a>
    <a href="/assets/screenshots/11.png"><img class="screenshot" alt="Screenshot 2" src="/assets/screenshots/small/11.png" width="250" height="141"></a>
    <a href="/assets/screenshots/13.png"><img class="screenshot" alt="Screenshot 3" src="/assets/screenshots/small/13.png" width="250" height="141"></a>
    <a href="/fi/screenshots">Lisää kuvia</a>
  </aside>
</div>
