<%= render "_screenshots_3_home_fi" %>

Tervetuloa “The Secret Chronicles of Dr. M.” kotisivuille.
Teemme parhaillaan ensimmäistä julkaisuamme, joten ole hyvä ja auta 
beta-testaamalla sitä!

Mikä se on?
-----------

_The Secret Chronicles of Dr. M._ (_TSC_) on kaksiuloitteinen sivullevierivä tasohyppely perustuen 
[OpenGL](http://www.opengl.org) ja [SDL](http://www.sdl.org) tekniikkaan. 
Pelissä on runsas valikoima tasoja sekä kehittynyt tasoeditori jolla 
voit itse tehdä omia tasoja. Sen mukana on tehokas 
skriptausmoottori joka käyttää
[mruby](http://www.mruby.org)ä, joka on minimaalinen versio 
[Ruby ohjelmointikielestä](https://www.ruby-lang.org).

_TSC_ on uusi kehityshaara [SMC](http://secretmaryo.org) 
projektista, jonka kehitys on pysähtynyt. Huomioi kuitenkin että päämäärämme 
ovat erilaisia kuin alkuperäisen SMC projektin, varsinkin kun me 
työskentelemme kohti meidän omantyylistä peliämme joka ei perustu mihinkään 
tiettyyn jo olemassa olevaan peliin.

Mistä sen voi ladata?
---------------------

Suunnista [Lataukset](/fi/download) sivulle.

Uutiset
-------

<% news_for("fi").first(2).each do |item| %>
  <%= render "_listpost", :item => item %>
<% end %>

<p class="more"><a href="/fi/news">Lisää…</a></p>
