body {
	background-color: green;
	margin: 0;
	color:black;
	height: 100%;
}
#page {
	background-color: #C4A8A8;
	max-width: 1200px;
	min-height: 1000px;
	margin: 0 auto;
	box-shadow: 0 0 64px rgba(0, 0, 0, 1);
	text-align: left;
	min-width: 300px;
}
#main {
	margin-left: 30px;
	margin-top: 100px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 15px;
}
#navbar li ul {
	display: none;
}
#navbar {
	list-style: none;
	font-size: 16px;
}
#navbar li {
	float:left;
	background: black;
	padding: 15px ;
	position: relative;
	color:white;
	cursor: pointer;
}
#navbar li:hover {
	background-color: purple;

}
#navbar li a {
	text-decoration: none;
	color:white;
}
#navbar li:hover ul {
	padding: 0;
	list-style: none;
	display:block;
	position: absolute;
	margin: 15px 0 0 0;
	width: 140px;
	right: 30px;
}
#navbar ul li {
	width: 140px;
}
blockquote {
	border: 1px solid #999;
	background-color: #d8d8f4;
	margin: 1em 40px;
	padding: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;	
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px; 	
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
}
#header {
	text-align: center;
}
#header img {
	margin: 0;
	padding: 0;
	width: 60%;
}
#footer {
	color: white;
	max-width: 1200px;
	min-width: 300px;
	background-color: black;
	text-align: center;
	margin: 0 auto;
	font-size: 76%;
	padding-top: 1px;
	padding-bottom: 1px;
}
aside {
	float: right;
	text-align: center;
	padding: 1em;
	width: 260px;
}
aside img {
	border: 4px solid black;
}
.screenshots img {
	border: 5px solid black;
	margin: 7px;
}

/***************************************
 * Specific classes
 ***************************************/

.snippet-date {
	font-style: italic;
	font-weight: normal;
	font-size: 12pt;
	color: black;
}

.more {
	text-align: right;
	font-style: italic;
}

.post-info {
	color: green;
	font-family: Sans-Serif;
	font-style: italic;
	text-align: center;
}

.summary {
	/* background-color: orange; */
	font-family: Sans-Serif;
	font-size: 12pt;
	font-style: italic;
	border-radius: 25px;
	background: #8AC007;
	padding: 20px;
}

/***************************************
 * Additional styles for us in posts
 ***************************************/

.img-right {
	float: right;
	margin: auto 0px auto 6px;
	border: 1px dashed black;
	text-align: center;
}

.img-right p {
	font-size: 10pt;
	font-style: italic;
}


