/***************************************
 * Styles for all elements
 ***************************************/

html {
    margin: 0px;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0px;
}

a {
    color: #23629d;
}

a:hover {
    color: red;
}

h1 {
    text-align: center;
    border-bottom: 1px dotted black;
    font-size: 18pt;
}

h2 {
    font-size: 15pt;
    border-bottom: 1px dotted black;
}

h3 {
    font-size: 13pt;
    font-weight: bold;
}

pre {
    font-size: 11pt;
    border: 1px solid silver;
    background-color: hsl(0, 0%, 95%);
    padding: 2px;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    overflow-x: auto;
}

div.CodeRay div.code pre {
    border: none;
    background: none;
}

code {
    font-size: 11pt;
    border: 1px solid silver;
    background-color: hsl(0, 0%, 95%);
    /* Never hyphenate inside <code> tags */
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

pre code {
    border: none;
    background: none;
}

blockquote {
    border-left: 2px solid blue;
    padding: 0px 4px 0px 4px;
    font-style: italic;
}

/***************************************
 * Main area
 ***************************************/

#main {
    margin: 0px auto 0px auto;
    max-width: 600px;
    text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/***************************************
 * Header and footer
 ***************************************/

#header {
    height: 64px;
    line-height: 64px;
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 1em;
    font-size: 16pt;
}

#navi {
    border-bottom: 1px solid black;
    font-size: 14pt;
    background-color: white;
}

#navi ul {
    list-style-type: none;
    padding: 0px 0px 0px 4px;
    margin: 0px;
}

#navi ul li {
    display: inline;
}

#navi ul li:before {
    content: " · "
}

#navi ul li:first-child:before {
    content: "";
}

#navi ul li a {
    text-decoration: none;
}

#language-selector {
    float: right;
    margin-right: 4px;
}

#navi ul#language-selector li:first-child:before {
    content: "";
}

#navi ul#language-selector li:before {
    content: " · ";
}

#footer {
    border-top: 1px dashed gray;
    font-size: 10pt;
    color: gray;
}

#footer p {
    margin: 2px 2px 0px 2px;
}

#copyright {
    float: right;
}

/***************************************
 * Specific classes
 ***************************************/

.snippet-date {
    font-style: italic;
    font-weight: normal;
    font-size: 12pt;
    color: gray;
}

.more {
    text-align: right;
    font-style: italic;
}

.post-info {
    color: gray;
    font-style: italic;
    text-align: center;
    font-size: 10pt;
}

/***************************************
 * Additional styles for us in posts
 ***************************************/

.img-right {
    float: right;
    margin: auto 0px auto 6px;
    border: 1px dashed black;
    text-align: center;
}

.img-right p {
    font-size: 10pt;
    font-style: italic;
}
