---
title: Neuigkeiten-Archiv
---

<% hsh = news_for("de").group_by{|item| item[:date].year} %>
<% hsh.keys.sort.each do |year| %>
  <h2><%= year %></h2>
  <% if hsh[year].empty? %>
    <p>Keine Einträge für dieses Jahr.</p>
  <% else %>
    <ul>
      <% hsh[year].each do |item| %>
	<li><a href="<%= item.path %>"><%= item[:title] %></a> <span class="snippet-date">(<%= item[:date].strftime("%d.%m.%Y") %>)</span></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
